
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


@font-face {
    font-family: 'BoldFont';
    src: url('/static/fonts/bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar {
    width: 100vw;
    position: sticky;
    z-index: 10000;
}

.roman {
    font-family: 'Merriweather', serif;
}

.fb {
    font-weight: 700;
}

@media (max-width: 1000px) {
    .container-6 {
        width: calc(100% - 100px);
        padding: 20px;
    }

    .logoName {
        display: none;
    }

}