
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


.navbar {
    width: 100vw;
    position: sticky;
}

.roman {
    font-family: 'Merriweather', serif;
}

.fb {
    font-weight: 700;
}

@media (max-width: 1000px) {
    .container-6 {
        width: calc(100% - 100px);
        padding: 20px;
    }

    .logoName {
        display: none;
    }

    img {
        width: calc(100% - 100px)!important;
    }
}