{% extends 'index.html' %}

{% block content %}
<style>
    textarea {
        background: transparent;
        border: 1px solid var(--main-bg-color);
        outline: none;
        resize: none;
        width: calc(100% - 10px);
        min-height: 50px;
        margin-top: 20px;
        font-size: 20px;
    }

    input {
        background: transparent;
        border: 1px solid var(--main-bg-color);
        outline: none;
        resize: none;
        width: calc(100% - 10px);
        min-height: 50px;
        margin-top: 20px;
        font-family: var(--text-font);
        font-size: var(--text-size);
    }

    .small-icon {
        width: 15px;
        height: 15px;
    }
</style>

<body>
<div id="body" class="d-flex align-items-center justify-content-center">
    <div class="container-6" style="max-width: 800px; width: 100%; padding: 20px;">
        <!-- <input type="text" class="form-control" id="titleInput" placeholder="Title"> -->
        <label for="textInput"></label>
        <textarea placeholder="Title" class="display-4 fb" style="height: 80px; padding: 0px;" name="" id="titleInput"></textarea>
        <br>
        <input class="roman" id="authorInput" type="text" placeholder="Author">
        <!-- <div class="form-floating mb-3">
            <input type="email" class="form-control" id="authorInput" placeholder="name@example.com">
            <label for="authorInput">Author</label>
        </div> -->
        <label for="textInput"></label>
        <textarea placeholder="Type your story" name="" id="textInput"></textarea>

        <div class="input__wrapper">
            <input name="file" type="file" id="input__file" class="input input__file" multiple>
            <label for="input__file" class="input__file-button">
                <span class="input__file-icon-wrapper" style="background: gray; border-radius: 5px; padding: 20px">
                    <!-- <img class="input__file-icon" src="/static/source/icons/upload.png"
                         alt="Выбрать файл" style="width: 20px; height: 40px;"> -->
                         Get
                        </span>
                <span class="input__file-button-text">Insert Image</span>
            </label>
        </div>
        <br><br>
        <button type="button" class="btn btn-secondary" onclick="insertText('#');">
            <!-- <img class="small-icon" src="/static/source/icons/title.png" alt=""> -->
            Title
        </button>
        <button type="button" class="btn btn-secondary" onclick="insertText('**text**')">
            <!-- <img class="small-icon" src="/static/source/icons/bold.png" alt=""> -->
            Bold
        </button>
        <button type="button" class="btn btn-secondary" onclick="insertText('*text*');">
            <!-- <img class="small-icon" src="/static/source/icons/italic.png" alt=""> -->
            Italic
        </button>
        <button type="button" class="btn btn-secondary" onclick="insertText('![](Image Link)');">
            <!-- <img class="small-icon" src="/static/source/icons/img.png"alt=""> -->
            Img
        </button>
        <button type="button" class="btn btn-secondary" onclick="insertText('---');">
            Hr
        </button>
        <button type="button" class="btn btn-secondary" onclick="insertText('**');">
            <!-- <img class="small-icon" src="/static/source/icons/img.png"alt=""> -->
            ***
        </button>
        <br><br>
        <button type="button" class="btn btn-success" onclick="createPost();">Publish</button>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script src="/static/js/index.js"></script>
<script>
    document.getElementById('authorInput').value = localStorage.getItem('author');
    document.getElementById('titleInput').value = localStorage.getItem('title');
    document.getElementById('textInput').value = localStorage.getItem('text');
</script>
<script>
    const title_textarea = document.getElementById('titleInput');

    title_textarea.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';

        localStorage.setItem('text', document.getElementById('textInput').value);
        localStorage.setItem('title', document.getElementById('titleInput').value);
    });

    const text_textarea = document.getElementById('textInput');

    text_textarea.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';

        localStorage.setItem('text', document.getElementById('textInput').value);
        localStorage.setItem('title', document.getElementById('titleInput').value);
    });

    function insertText(text) {
        const textarea = document.getElementById('textInput');
        const startPos = textarea.selectionStart;
        const endPos = textarea.selectionEnd;
        const value = textarea.value;

        const newText = value.substring(0, startPos) + text + value.substring(endPos, value.length);
        textarea.value = newText;
        textarea.focus();

        localStorage.setItem('text', document.getElementById('textInput').value);
        localStorage.setItem('title', document.getElementById('titleInput').value);
    }

</script>
{% endblock %}