<!doctype html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/checkbox.css">
    <title>PixelType</title>
</head>

<header id="header">
    <div class="logo">
        <span class="logo-text">PixelType x Markdown</span>
        <!--        <input type="checkbox" id="fontSwitch" /><label for="fontSwitch">Toggle</label>-->
    </div>
</header>

<style>
    * {
        font-family: Helvetica;
    }
</style>

<body>

<div id="body" class="flex-center">
    <div class="container-6">
        <input style="margin-top: 15px;" id="authorInput" type="text" placeholder="Author">
        <input style="margin-top: 30px;" id="titleInput" type="text" placeholder="Title">
        <textarea placeholder="Type your story" name="" id="textInput"></textarea>
        <button onclick="createPost();">/publish</button>
    </div>
</div>
</body>

<script src="/static/js/index.js"></script>
<script>
    const textarea = document.querySelector('textarea');

    textarea.addEventListener('input', function() {
      this.style.height = 'auto';
      this.style.height = this.scrollHeight + 'px';
    });
</script>
</html>
