<!doctype html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/checkbox.css">
<!--    <link rel="stylesheet" href="/static/css/fonts.css">-->
    <title>PixelType</title>
</head>

<header id="header">
    <div class="logo">
        <span class="logo-text">PixelType</span>
        <!--        <input type="checkbox" id="fontSwitch" /><label for="fontSwitch">Toggle</label>-->
    </div>
</header>

<style>
    * {
        font-family: Helvetica;
    }
</style>

<body>

<div id="body" class="flex-center" style="margin-top: 50px">
    <div class="container-6">
        <input id="titleInput" type="text" placeholder="title">
        <input style="margin-left: 5px;" id="authorInput" type="text" placeholder="author">
        <textarea placeholder="text you type" name="" id="textInput"></textarea>
        <button onclick="createPost();">publish</button>
    </div>
</div>
</body>

<script src="/static/js/index.js"></script>
</html>
