{% extends 'index.html' %}

{% block head_content %}
<meta property="og:title" content="PixelType">
<meta property="og:site_name" content="PixelType">
<meta property="og:url" content="/{{post.key}}">
<meta property="og:description" content="{{ post.text | striptags }}">
<meta property="og:image" content="/media/{{ post.key }}.jpeg">
<meta property="author" content="{{ post.author }}">
<meta name="author" content="{{ post.author }}">
<meta property="tg:site_verification" content="g7j8/rPFXfhyrq5q0QQV7EsYWv4=">
<meta property="og:type" content="article">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/file_input.css" type="text/css">
<link rel="stylesheet" href="/static/css/hilights.css" type="text/css">
<link rel="stylesheet" href="/static/css/style.css" type="text/css">  
{% endblock %}

{% block content %}

<style>
    :root {
        --window-size: 700px;
    }
    p, i, em {
        margin-top: -20px;
        padding: 0;
    }

    img {
        width: var(--window-size);
        border-radius: 15px;
        width: 100%;
    }
</style>

<body>

<div id="body" style="padding-bottom: 150px; padding-top: 20px;" class="d-flex align-items-center justify-content-center">
    <div class="container-6" style="width: 800px;">
        <p style="margin-top: 15px; margin-left: 2px; display: flex; flex-wrap: wrap; gap: 10px; align-items: center;" id="authorInput">
            <span><mark class="roman" style="border-radius: 5px; padding: 7px 7px 7px 7px">{{ post.author }}</mark></span> • 
            <span><span style="border-radius: 5px; padding: 7px 7px 7px 7px">created {{ created }}</mark></span> • 
            <span><span style="border-radius: 5px; padding: 7px 7px 7px 7px">{{ post.views }} eyes</mark></span><br>
        </p>
        <h1 id="titleInput" class="display-4" style="font-weight: 700;">{{ post.title }}</h1>
        <br>
        <button
            class="btn btn-outline-secondary"
            onclick="copyToClipboard(window.location.href);">
            Copy link 🔗
        </button>
        <br><br>
        <p class="text" style="word-wrap: break-word;">{{ post.text | safe }}</p>
    </div>
</div>

<script src="/static/js/index.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Найти все блоки с тегом code
        var codeBlocks = document.querySelectorAll("code");

        for (var i = 0; i < codeBlocks.length; i++) {
            var codeBlock = codeBlocks[i];

            // Создать кнопку "Копировать код"
            var copyButton = document.createElement("a");
            copyButton.style.cursor = "pointer";
            copyButton.style.marginBottom = "10px";
            copyButton.innerHTML = "Copy";

            copyButton.classList.add("copy-button");
            codeBlock.parentNode.insertBefore(copyButton, codeBlock);

            // Добавить обработчик события для кнопки "Копировать код"
            copyButton.addEventListener("click", function () {
                // Выделить текст в блоке с тегом code
                var selection = window.getSelection();
                var range = document.createRange();
                range.selectNodeContents(this.nextElementSibling);
                selection.removeAllRanges();
                selection.addRange(range);

                // Скопировать выделенный текст в буфер обмена
                document.execCommand("copy");

                // Очистить выделение текста
                selection.removeAllRanges();

                // Изменить текст кнопки на "Скопировано!"
                this.innerHTML = "Copied to clipboard!";

                // Вернуть исходный текст кнопки через 3 секунды
                var button = this;
                setTimeout(function () {
                    button.innerHTML = "Копировать код";
                }, 3000);
            });
        }
    });
</script>
{% endblock %}
