{% extends 'index.html' %}

{% block head_content %}
<meta property="og:type" content="article">
<meta property="og:title" content="PixelType">
<meta property="og:site_name" content="PixelType">
<meta property="og:url" content="/{{post.key}}">
<meta property="og:description" content="{{ post.text | striptags }}">
<meta property="og:image" content="/media/{{ post.key }}.jpeg">
<meta property="author" content="{{ post.author }}">
<meta name="author" content="{{ post.author }}">
<meta property="tg:site_verification" content="g7j8/rPFXfhyrq5q0QQV7EsYWv4=">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/file_input.css" type="text/css">
<link rel="stylesheet" href="/static/css/hilights.css" type="text/css">
<link rel="stylesheet" href="/static/css/style.css" type="text/css">  
{% endblock %}

{% block content %}

<style>
    :root {
        --window-size: 700px;
    }
    p, i, em {
        margin-top: -20px;
        padding: 0;
    }

    p {
        font-size: 20px;
    }

    img {
        width: var(--window-size);
        border-radius: 15px;
        width: 100%;
    }

    @media (max-width: 1000px) {
        img {
            width: var(--window-size);
            border-radius: 5px;
            width: 100%;
        }
    }

    textarea {
        background: transparent;
        border: 1px solid var(--main-bg-color);
        outline: none;
        resize: none;
        width: 100%;
        min-height: 50px;
        margin-top: 20px;
        font-size: 20px;
        margin-top: -10px;
    }

    input {
        background: transparent;
        border: 1px solid var(--main-bg-color);
        outline: none;
        resize: none;
        width: calc(100% - 10px);
        min-height: 50px;
        margin-top: 20px;
        font-family: var(--text-font);
        font-size: var(--text-size);
    }

</style>

<body>

<div id="body" style="padding-bottom: 150px; padding-top: 20px;" class="d-flex align-items-center justify-content-center">
    <div class="container-6" style="width: 800px;">
        <p style="margin-top: 15px; margin-left: 2px; display: flex; flex-wrap: wrap; gap: 10px; align-items: center;" id="authorInput">
            <span><mark class="roman" style="border-radius: 5px; padding: 7px 7px 7px 7px">{{ post.author }}</mark></span> • 
            <span><span style="border-radius: 5px; padding: 7px 7px 7px 7px">created {{ created }}</mark></span> • 
            <span><span style="border-radius: 5px; padding: 7px 7px 7px 7px">{{ post.views }} eyes</mark></span><br>
        </p>
        <h1 id="titleInput" class="display-4" style="font-weight: 700; font-family: BoldFont;">{{ post.title }}</h1>
        <br>
        <button
            class="btn btn-outline-secondary"
            onclick="copyToClipboard(window.location.href);">
            Copy link 🔗
        </button>
        <button 
            class="btn btn-outline-secondary"
            onclick="changeFont();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fonts" viewBox="0 0 16 16">
                <path d="M12.258 3h-8.51l-.083 2.46h.479c.26-1.544.758-1.783 2.693-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.431.013c1.934.062 2.434.301 2.693 1.846h.479L12.258 3z"/>
              </svg>
        </button>
        <br><br>
        <p class="text" style="word-wrap: break-word;">{{ post.text | safe }}</p>
        <br>
        <br>
        <div>
            <div>
                <h1 style="font-family: BoldFont;">Create comment</h1>
            </div>
            <form class="form-floating">
                <input type="email" class="form-control" id="commentAuthorInput" placeholder="Author">
                <label for="commentAuthorInput">Author</label>
              </form>
              <br>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="commentTextInput" style="height: 100px"></textarea>
                <label for="commentTextInput">Comment</label>
            </div>
            <br>
            <button style="margin-top: -10px;" type="button" class="btn btn-success" id="createCommentButton">Leave comment</button>
        </div>
        <br><br>
        <div>
            <h1 style="font-family: BoldFont;">Discussion (<span id="commentsCount"></span>)</h1>
        </div>
        <br>
        <div id="comments"></div>
    </div>
</div>

<script src="/static/js/index.js"></script>
<script>
    document.getElementById('commentAuthorInput').value = localStorage.getItem('author');
    
    getPostComments('{{ post.key }}')

    document.getElementById("createCommentButton").onclick = function() {
        createComment('{{ post.key }}');
    }
    const title_textarea = document.getElementById('commentTextInput');

    title_textarea.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Найти все блоки с тегом code
        var codeBlocks = document.querySelectorAll("code");

        for (var i = 0; i < codeBlocks.length; i++) {
            var codeBlock = codeBlocks[i];

            // Создать кнопку "Копировать код"
            var copyButton = document.createElement("a");
            copyButton.style.cursor = "pointer";
            copyButton.style.marginBottom = "10px";
            copyButton.innerHTML = "Copy";

            copyButton.classList.add("copy-button");
            codeBlock.parentNode.insertBefore(copyButton, codeBlock);

            // Добавить обработчик события для кнопки "Копировать код"
            copyButton.addEventListener("click", function () {
                // Выделить текст в блоке с тегом code
                var selection = window.getSelection();
                var range = document.createRange();
                range.selectNodeContents(this.nextElementSibling);
                selection.removeAllRanges();
                selection.addRange(range);

                // Скопировать выделенный текст в буфер обмена
                document.execCommand("copy");

                // Очистить выделение текста
                selection.removeAllRanges();

                // Изменить текст кнопки на "Скопировано!"
                this.innerHTML = "Copied to clipboard!";

                // Вернуть исходный текст кнопки через 3 секунды
                var button = this;
                setTimeout(function () {
                    button.innerHTML = "Копировать код";
                }, 3000);
            });
        }
    });
</script>

<script>
    function changeFont() {
    // Получаем все элементы p с классом .text
    var elements = document.querySelectorAll('p');

    // Проходимся по каждому элементу
    for (var i = 0; i < elements.length; i++) {
        // Если элемент имеет класс .roman, то мы его убираем
        if (elements[i].classList.contains('roman')) {
            elements[i].classList.remove('roman');
        }
        // Если элемент не имеет класса .roman, то мы его добавляем
        else {
            elements[i].classList.add('roman');
        }
    }
}
</script>
{% endblock %}
